<p>edit-application works!</p>
<h2 mat-dialog-title>Edit Application</h2>

<mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="fill" class="full-width" *ngFor="let field of form.controls | keyvalue">
            <mat-label>{{ field.key | titlecase }}</mat-label>
            <input matInput [formControl]="getFormControl(field.key)" />
        </mat-form-field>

        <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="form.invalid || loading" (click)="submit()">
        Update
    </button>
</mat-dialog-actions>